<h2>Por Pais</h2>
<hr>

<!-- CODIGO ORIGINAL -->

<div class="row">
  <div class="col">
    <form action="" autocomplete="off" (ngSubmit)="buscar()">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar Pais" name="termino" [(ngModel)]="termino" autofocus>
        <span class="input-group-text" id="basic-addon1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
            </path>
          </svg>
        </span>
      </div>
    </form>
  </div>
</div>

<div *ngIf="hayError" class="alert alert-danger">No se encontró nada con el termino: '{{ termino }}'</div>

<div *ngIf="paises.length != 0" class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Población</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pais of paises; let i = index" [routerLink]="['pais/',pais.cca2]" routerLinkActive="router-link-active">
          <td>{{ i + 1 }}</td>
          <td><img [src]="pais.flags.png" [alt]="pais.name.official" width="60"></td>
          <td>{{ pais.translations['spa'].official }}</td>
          <td>{{ pais.population | number }} hab.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
